<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>0A598761-96D9-4895-9312-D89A91E79E51.playgroundpage</string>
		<string>875E6D36-F05A-4E2F-BE4E-7852D725E1E5.playgroundpage</string>
		<string>6A5158AE-85B5-47A4-AE10-F52C38E9F469.playgroundpage</string>
		<string>A03FA1EB-D8FF-40D0-96FA-11FBD390B651.playgroundpage</string>
		<string>4F210F56-585C-42AA-B7F3-3000302D19C9.playgroundpage</string>
		<string>F329372A-4F49-42EB-9501-E677A39834BF.playgroundpage</string>
		<string>1514C62D-9FE1-4BE0-99A8-CEFFC7ED1C93.playgroundpage</string>
		<string>D1DBD47B-2445-4794-8763-B67EDB4F244B.playgroundpage</string>
		<string>99824DAF-416B-4E8E-B605-E950AD08F605.playgroundpage</string>
		<string>27D26543-449D-41A8-98FA-7702AC6A24F2.playgroundpage</string>
		<string>B29843D7-916B-4852-81C7-F72A2F689627.playgroundpage</string>
		<string>3FBDF2A6-41C4-4882-AB0F-363518356D85.playgroundpage</string>
		<string>A3D83AA8-D936-4E92-9954-3BDC7AAB5E37.playgroundpage</string>
		<string>30DEB5EB-28D4-425F-9F9E-6E1D69C73C81.playgroundpage</string>
		<string>B406F5CD-61AD-4FAB-B742-668600CF5A72.playgroundpage</string>
		<string>3EDF8C99-1620-4DB0-856B-C767E3E46FD7.playgroundpage</string>
		<string>AFF5120E-01E2-4847-BF9B-375D5C70F14E.playgroundpage</string>
		<string>41DBD145-2C0D-4FD4-A3D8-75DC9B276A61.playgroundpage</string>
		<string>32FBDBFB-11F0-4BFB-9956-85B4E5987DCE.playgroundpage</string>
		<string>465A3CF9-0EF4-40CE-90A0-9B7E71C192E7.playgroundpage</string>
		<string>D56C56E4-6796-4ED4-9730-2E85E57DC12A.playgroundpage</string>
		<string>14ADF0A0-DE0A-4BE7-80FE-C5974A99061A.playgroundpage</string>
	</array>
</dict>
</plist>
